$backgroundTodo:  rgba(0, 0, 0, 0.5);
$backgroundMainContent: #EFEFEF;
$borderBottonColor: #DEDEDE;
$colorFontMain: #4F4F4F;
$colorDefultButton: #344273;
$colorDefault: #fff;
$colorFocusInput: #344273;
$colorErrorText: #C23E42;
$colorButtonFocus: #344273;
$colorButtonSave: #5E9574;
$colorButtonCleare: #955E5E;
$colorText: #787878;
$colorRGBADefault: rgba(52, 66, 115, 0.5);
$colorLists: #344273;
